body {
    background-color: black;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-line {
    height: 8px;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(231, 177, 61), rgb(238, 34, 160));
    border-radius: 0.5rem;
}

.container {
    width: 90%;
    margin: 5% 0 0 5%;
    /*another approach I tried - works fine, except border-image does not allow for rounded corners*/
    /*
    border-top: 8px solid;
    border-image-source: linear-gradient(90deg, rgb(231, 177, 61), rgb(238, 34, 160));
    border-image-slice: 1;
    */
}

/*entire text*/

.text-content {
    width: 50%;
    margin: 6% 0 0 25%;
    text-align: center;
}

/*icon and title*/


.header {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin: 0 0 0 25%;
}


img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1% 0 0;
}

/*form elements*/

form input {
    border-style: none;
    border-radius: 0.5rem;
    width: 40%;
    height: 32%;
    padding: 1.2rem;
    color: gray;
    font-family: courier;
    font-size: 1rem;
}

form button {
    background-image: linear-gradient(160deg, rgb(238, 34, 160), rgb(231, 177, 61));
    background-size: cover;
    border-style: none;
    border-radius: 0.5rem;
    width: 20%;
    height: 30%;
    padding: 1rem;
    color: white;
    font-family: Cambria;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 0 0.8%;
}
