.body{
  text-align: center;
  margin-top: 15%;
}

.image{
  height: 40px;
  width: 40px;
}

.topLine{
  margin-top: 3%;
  margin-left: 5%;
  height: 4px;
  width: 90%;
  background-image: repeating-linear-gradient(45deg, orange, red);
  border-radius: 10px;
}

.inputBox{
  height: 45px;
  width: 25%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-family: "comic sans ms";
}

.button{
  color: white;
  font-weight: bolder;
  font-family: serif;
  font-size: 20px;
  height: 45px;
  width: 12%;
  border-radius: 5px;
  border: none;
  background-image: repeating-linear-gradient(345deg, orange, red);
  margin-left: 5px;
}
