/* ###################### CLASS-SELECTORS ##################### */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  /* Allows content to scroll on background */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Merriweather', serif;
  background-color: #0f0e17;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
}

.gradient {
  background: linear-gradient(to right, rgba(255, 137, 1, 1) 0%, rgba(204, 43, 102, 1) 100%);
  height: 3px;
  position: relative;
  max-width: 90%;
}

input[type=submit] {
  background: linear-gradient(163deg, rgba(231, 51, 111, 1) 0%, rgba(254, 135, 14, 1) 100%);
  color: white;
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
}

input[type=email] {
  background-color: white;
  padding: 1em 3em 1em 1.5em;
  border: none;
  border-radius: 10px;
}
