/* ###################### CLASS-SELECTORS ##################### */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #343A40;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  /* Allows content to scroll on background */
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/paper-background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Merriweather', serif;
}

h1 {
  text-align: center;
  color: #BB3F0E;
  font-weight: bold;
}

h2 {
  color: #BB3F0E;
  font-weight: bold;
}

h4 {
  font-style: italic;
  color: #BB3F0E;
  font-weight: bold;
}

ul li {
  list-style: none;
}

footer {
  background-color: #343A40;
}

*::selection {
  background-color: #BB3F0E;
  color: #FEFEFE;
}

/* ###################### CLASS-SELECTORS ##################### */
a, .footer-copyright {
  color: #fff;
}

.privacy-link {
  text-decoration: underline;
  font-weight: bold;
}

/* Header image including hover-text transition */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(52, 58, 64, 0.9);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.img-container {
  border: 1px solid rgba(52, 58, 64, 0.5);
}

.img-container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: #FEFEFE;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* End of Header with Transition Text */
.subheading {
  text-align: center;
  font-size: 1.1em;
}

.text-link {
  color: #343A40;
  font-weight: bold;
}

.navbar-nav {
  display: inline-block;
}

.navbar-nav>li {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3em;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #FEFEFE;
}

.drop-caps:first-letter {
  font-size: 4em;
  /*Create drop-letter for first letter in the first paragraph of the article */
  float: left;
  font-weight: bold;
  color: #BB3F0E;
}

.tab {
  text-indent: 2em;
  margin-top: -1em
}

.cookie-banner {
  /* Fixes cookie-banner to bottom of page, even while scrolling */
  position: fixed;
  bottom: 1%;
  left: 5%;
  right: 5%;
  width: 90%;
  background-color: #BB3F0E;
  color: #FEFEFE;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  /* Prevents cookie-banner from being overlayed by the footer */
  z-index: 100;
}

.close {
  height: 20px;
  border: none;
  color: #FEFEFE;
  position: absolute;
  right: 0.5em;
  top: 0;
}

.close:hover {
  color: #343A40;
  transform: scale(1.2);
}


/* ############## Read More Implementation ############### */
.panel-wrapper {
  position: relative;
}

.btn {
  color: #343A40;
  border-radius: 10px;
  left: 30%;
  text-decoration: none;
}

a[class^='show'], a[class^='hide'] {
  position: absolute;
  bottom: -3em;
  z-index: 99;
  font-weight: bold;
}

a[class^='show']:hover, a[class^='hide']:hover {
  transform: scale(1.1);
  font-weight: bolder;
  color: #BB3F0E;
}

a[class^='hide'] {
  display: none;
}

a[class^='show']:target {
  display: none;
}

.show:target~.hide, .show-2:target~.hide-2, .show-3:target~.hide-3 {
  display: block;
}

.show:target~.panel, .show-2:target~.panel-2, .show-3:target~.panel-3 {
  max-height: 2000px;
}

.show:target~.fade, .show-2:target~.fade-2, .show-3:target~.fade-3 {
  margin-top: 0;
}

.panel, .panel-2, .panel-3 {
  position: relative;
  max-height: 10.5em;
  overflow: hidden;
  transition: max-height .2s ease;
}

.panel-2 {
  max-height: 11.3em;
}

div[class^='fade'] {
  background: linear-gradient(to bottom, rgba($bg-color, 0) 0%, rgba($bg-color, 1) 75%);
  height: 100px;
  margin-top: -100px;
  position: relative;
}
