@font-face {
  font-family: stripes;
  src: url(halogen.otf);
}

@keyframes flicker-r {
  0% {color: white;}
  79% {color: white;}
  80% {color: grey;}
  82% {color: white;}
  97% {color: white;}
  99% {color:grey;}
  100% {color: white;}
}

@keyframes flicker-4 {
  0% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  9% {color: darkred; text-shadow: none;}
  11% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  13% {color: darkred; text-shadow: none;}
  15% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  70% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  72% {color: darkred; text-shadow: none;}
  74% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  100% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
}


body {
  background-color: black;
}

h1 {
  font-family: stripes;
  font-size: 60pt;
  color: white;
  margin: 10%;
  text-shadow: 4px 4px 20px rgb(255,255,255,0.8);
}

.first-digit {
  color: red;
}

.second-digit {
  color: darkred;
}

.third-digit {
  color: red;
  animation-name: flicker-4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.white-r {
  animation-name: flicker-r;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.first-digit, .second-digit, .third-digit {
  text-shadow: 4px 4px 20px rgb(177, 22, 6, 1);
}

.second-digit {
  text-shadow: none;
}
