html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: black;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error_top {
  filter: drop-shadow(0 0 50px white);
}

.error_bottom {
  margin-top: 0.5em;
  filter: drop-shadow(0 0 50px red);
}

.top-animation {
  /*  display: inline-block;
  -moz-transform: rotate(0.01turn) translateY(1px) translateX(2px);
  -webkit-transform: rotate(0.01turn) translateY(1px) translateX(2px);
  -ms-transform: rotate(0.01turn) translateY(1px) translateX(2px);
  -o-transform: rotate(0.01turn) translateY(1px) translateX(2px);
  transform: rotate(0.01turn) translateY(1px) translateX(2px); */
  animation: top 10s linear infinite;
}

.bottom-animation {
  /*  display: inline-block;
  -moz-transform: rotate(-0.06turn) translateY(-3px) translateX(-10px);
  -webkit-transform: rotate(-0.06turn) translateY(-3px) translateX(-10px);
  -ms-transform: rotate(-0.06turn) translateY(-3px) translateX(-10px);
  -o-transform: rotate(-0.06turn) translateY(-3px) translateX(-10px);
  transform: rotate(-0.06turn) translateY(-3px) translateX(-10px); */
  animation: bottom 8s linear infinite;
}

.no-animation {
  filter: drop-shadow(0 0 0);
  opacity: .2;
}

@keyframes top {
  0%, 10.9%, 14%, 60.9%, 64%, 64.9%, 100% {
    opacity: 1;
  }

  11%, 13.9%, 61%, 63.9%, 65%, 79.9% {
    opacity: 0.2;
  }
}

@keyframes bottom {
  0%, 15.9%, 20%, 24.9%, 40%, 45.9%, 61%, 66.9%, 74%, 83.9%, 96%, 100% {
    opacity: 1;
  }

  16%, 19.9%, 25%, 37.9%, 46%, 60.9%, 67%, 73.9%, 84%, 95.9% {
    opacity: 0.2;
  }
}
